include st_pnpl/DTDL/usb_device_catalog.json
include st_pnpl/DTDL/dtmi/appconfig/steval_mkboxpro/fpSnsDatalog2*
include st_pnpl/DTDL/dtmi/appconfig/steval_stwinbx1/fpSnsDatalog2*
include st_pnpl/DTDL/dtmi/appconfig/b_u585i_iot02a/fpSnsDatalog2*
include st_pnpl/DTDL/dtmi/appconfig/nucleo_h7a3zi_q/x_nucleo_iks02a1/fpSnsDatalog2*
include st_pnpl/DTDL/dtmi/appconfig/nucleo_u575zi_q/x_nucleo_iks02a1/fpSnsDatalog2*
include st_pnpl/LICENSE.*