SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5743", ACTION=="add", GROUP="hsdatalog"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5744", ACTION=="add", GROUP="hsdatalog"
